body, h1 {
  font-family: "Roboto", sans-serif
}

body, html {
  height: 100%;
  background-color: gray;
}

.bgimg {
  background-image: url('../static/media/background.jpeg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}


input {
width: 40%;
background-color: #1b1b1bb8;
border : 1px solid #1b1b1bb8;
font-family: Roboto;
padding: 10px;
color :#fff;
margin: 5px;
}

input#autocomplete {
  width: 90%;
}

button.add_field_button {
  font-family: Roboto;
  background-color: transparent;
  border: 0px;
  padding: 10px;
  color: #ffff;
  text-transform: uppercase;
  font-size: 10px;
}
button.button-primary {
  background-color: #4CAF50;
  font-family: Roboto;
  color: #fff;
  border: 0px;
  padding: 5px 10px;
}

fieldset {
  border: 0px;
  width: 100%;
}

a.remove_field {
color: #d89292;
text-shadow: 0px 0px 1px 5px #000;
font-weight: bold;
margin-left: 20px;
font-size: 10px;
text-transform: uppercase;
text-decoration: none;
}
