/* The sidebar menu */

.sidenav {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: calc(20% - 40px);
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  font-size: 12px;
  font-color: #000000;
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: #FFFFFF;
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 0px;
  padding: 20px;
}

.bgimg {
  background-image: url('../static/media/background.jpeg');
  min-height: 100%;
  background-position: right;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */

.main {
  margin-left: 160px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  float: left;
  width: 80%;
  height: 100%;
}
