<!DOCTYPE html>
<html>
<title>Results</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm5l8eUBzZXal5kBugg3UdvxiM1jflU8s&libraries=places"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
<link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="../jquery/jquery.min.js"></script>
<script src="js.js"></script>
<link href="../static/style.css" rel="stylesheet">
<link href="../static/style.scss" rel="stylesheet">

<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Waypoints in directions</title>
</head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="../jquery/jquery.min.js"></script>
<script src="js.js"></script>
<link href="../static/style2.css" rel="stylesheet">
<script src='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoic2hpcmxleWthYmlyIiwiYSI6ImNqZTF0d216ODZhMm4ycnFoYzhlajBoYmEifQ.ebRPQL4RxH01uvoOVa1IUA';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/light-v9'
  });
</script>

<body>

  <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
      TravelNode
    </div>
    <!-- Side navigation -->
    <div class="sidenav" id="details">
    </div>

    <!-- Page content -->
    <div id="map"></div>
  </div>

</body>
<script>
  var obj = JSON.parse('{"addresses": ["3146 Cascadilla Hall, Ithaca NY 14850", "3270 Balch Hall, Ithaca NY 14850", "203 N Aurora St, Ithaca NY 14850", "Klarman Hall, Ithaca NY 14850", "151 Dryden Road, Ithaca NY 14850"],"leg1": {"transport": "Car","legTime": 4,"legDist": 10,"cost": 0},"leg2": {"transport": "Walking","legTime": 2,"legDist": 5,"cost": 0},"leg3": {"transport": "Uber","legTime": 4,"legDist": 10,"cost": 15},"leg4": {"transport": "Car","legTime": 20,"legDist": 15,"cost": 0},"totaltime" : 30,"totaldistance": 40,"totalcost": 10,"warning": "false"}');
  function initMap() {
    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer;
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 6,
      center: {
        lat: 41.85,
        lng: -87.65
      },
      styles: [{
          "elementType": "geometry",
          "stylers": [{
            "color": "#1d2c4d"
          }]
        },
        {
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#8ec3b9"
          }]
        },
        {
          "elementType": "labels.text.stroke",
          "stylers": [{
            "color": "#1a3646"
          }]
        },
        {
          "featureType": "administrative.country",
          "elementType": "geometry.stroke",
          "stylers": [{
            "color": "#4b6878"
          }]
        },
        {
          "featureType": "administrative.land_parcel",
          "elementType": "labels",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "administrative.land_parcel",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#64779e"
          }]
        },
        {
          "featureType": "administrative.province",
          "elementType": "geometry.stroke",
          "stylers": [{
            "color": "#4b6878"
          }]
        },
        {
          "featureType": "landscape.man_made",
          "elementType": "geometry.stroke",
          "stylers": [{
            "color": "#334e87"
          }]
        },
        {
          "featureType": "landscape.natural",
          "elementType": "geometry",
          "stylers": [{
            "color": "#023e58"
          }]
        },
        {
          "featureType": "poi",
          "elementType": "geometry",
          "stylers": [{
            "color": "#283d6a"
          }]
        },
        {
          "featureType": "poi",
          "elementType": "labels.text",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "poi",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#6f9ba5"
          }]
        },
        {
          "featureType": "poi",
          "elementType": "labels.text.stroke",
          "stylers": [{
            "color": "#1d2c4d"
          }]
        },
        {
          "featureType": "poi.business",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "poi.park",
          "elementType": "geometry.fill",
          "stylers": [{
            "color": "#023e58"
          }]
        },
        {
          "featureType": "poi.park",
          "elementType": "labels.text",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "poi.park",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#3C7680"
          }]
        },
        {
          "featureType": "road",
          "elementType": "geometry",
          "stylers": [{
            "color": "#304a7d"
          }]
        },
        {
          "featureType": "road",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#98a5be"
          }]
        },
        {
          "featureType": "road",
          "elementType": "labels.text.stroke",
          "stylers": [{
            "color": "#1d2c4d"
          }]
        },
        {
          "featureType": "road.arterial",
          "elementType": "labels",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry",
          "stylers": [{
            "color": "#2c6675"
          }]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.stroke",
          "stylers": [{
            "color": "#255763"
          }]
        },
        {
          "featureType": "road.highway",
          "elementType": "labels",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "road.highway",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#b0d5ce"
          }]
        },
        {
          "featureType": "road.highway",
          "elementType": "labels.text.stroke",
          "stylers": [{
            "color": "#023e58"
          }]
        },
        {
          "featureType": "road.local",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "road.local",
          "elementType": "labels",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "transit",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#98a5be"
          }]
        },
        {
          "featureType": "transit",
          "elementType": "labels.text.stroke",
          "stylers": [{
            "color": "#1d2c4d"
          }]
        },
        {
          "featureType": "transit.line",
          "elementType": "geometry.fill",
          "stylers": [{
            "color": "#283d6a"
          }]
        },
        {
          "featureType": "transit.station",
          "elementType": "geometry",
          "stylers": [{
            "color": "#3a4762"
          }]
        },
        {
          "featureType": "water",
          "elementType": "geometry",
          "stylers": [{
            "color": "#0e1626"
          }]
        },
        {
          "featureType": "water",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#4e6d70"
          }]
        }
      ]
    });
    directionsDisplay.setMap(map);
    calculateAndDisplayRoute(directionsService, directionsDisplay);
  }

  function calculateAndDisplayRoute(directionsService, directionsDisplay) {
    var waypts = [];
    var checkboxArray = obj.addresses; //document.getElementById('waypoints');
    for (var i = 0; i < checkboxArray.length; i++) {
      waypts.push({
        location: checkboxArray[i],
        stopover: true
      });
    }

    directionsService.route({
      origin: obj.addresses[0], //document.getElementById('start').value,
      destination: obj.addresses[obj.addresses.length-1],
      waypoints: waypts.slice(1,waypts.length - 1),
      optimizeWaypoints: true,
      travelMode: 'DRIVING'
    }, function(response, status) {
      if (status === 'OK') {
        directionsDisplay.setDirections(response);
        var route = response.routes[0];
        var summaryPanel = document.getElementById('directions-panel');
        summaryPanel.innerHTML = '';
        // For each route, display summary information.
        for (var i = 0; i < route.legs.length; i++) {
          var routeSegment = i + 1;
          summaryPanel.innerHTML += '<b>Route Segment: ' + routeSegment +
            '</b><br>';
          summaryPanel.innerHTML += route.legs[i].start_address + ' to ';
          summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
          summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
        }
      } else {
        window.alert('Directions request failed due to ' + status);
      }
    });
  }
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="../jquery/jquery.min.js"></script>
<script src="js.js"></script>
<link href="../static/style2.css" rel="stylesheet">
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm5l8eUBzZXal5kBugg3UdvxiM1jflU8s&callback=initMap">
</script>

<script>
  
  var obj = JSON.parse('{"addresses": ["3146 Cascadilla Hall, Ithaca NY 14850", "3270 Balch Hall, Ithaca NY 14850", "203 N Aurora St, Ithaca NY 14850", "Klarman Hall, Ithaca NY 14850", "151 Dryden Road, Ithaca NY 14850"],"leg1": {"transport": "Car","legTime": 4,"legDist": 10,"cost": 0},"leg2": {"transport": "Walking","legTime": 2,"legDist": 5,"cost": 0},"leg3": {"transport": "Uber","legTime": 4,"legDist": 10,"cost": 15},"leg4": {"transport": "Car","legTime": 20,"legDist": 15,"cost": 0},"totaltime" : 30,"totaldistance": 40,"totalcost": 10,"warning": "false"}');
  var detailstext = '<font color=	"#fff">';
  if (obj.warning == "true") {
    detailstext +=  '<label>WARNING: LOCATIONS ARE TOO FAR APART FOR UBER API</label>';
  } else {
    function createLegDetails(mode, time, cost, dist) {
      var returnString = "";
      if (mode == "Car") {
        returnString += "<span class='line_car'></span>Drive for ";
      } else if (mode == "Walking") {
        returnString += "<span class='line_walk'></span>Walk for ";
      } else if (mode == "Uber") {
        returnString += "<span class='line_uber'></span>Take an uber for ";
      }
      var costString = "";
      if (cost != 0) {
        costString = "($"+cost +")";
      }
      returnString += time + " minutes " + costString;
      return returnString;
    }

    var legArray = [];
    if (obj.leg1.transport != "") {
      legArray.push(createLegDetails(obj.leg1.transport, obj.leg1.legTime, obj.leg1.cost, obj.leg1.legDist));
    }
    if (obj.leg2.transport != "") {
      legArray.push(createLegDetails(obj.leg2.transport, obj.leg2.legTime, obj.leg2.cost, obj.leg2.legDist));
    }
    if (obj.leg1.transport != "") {
      legArray.push(createLegDetails(obj.leg3.transport, obj.leg3.legTime, obj.leg3.cost, obj.leg3.legDist));
    }
    if (obj.leg1.transport != "") {
      legArray.push(createLegDetails(obj.leg4.transport, obj.leg4.legTime, obj.leg4.cost, obj.leg4.legDist));
    }
    var detailstext = '<font color=	"#fff"><h2>Optimized Trip</h2>';
    for (i=0; i < obj.addresses.length; i++) {
      if (i != obj.addresses.length-1) {
          detailstext += "<label>" + obj.addresses[i]+ "</label><br><br><label class='path'>"+ legArray[i] +"</label><br><br>"
      }
      else {
        detailstext += "<label>" + obj.addresses[i]+ "</label><br><br><br>"
      }
    }
    detailstext += "<center><table style='text-align: center;'><tr><td><b>" + obj.totaltime + "</b><br />Total Time</td><td><b>" + obj.totalcost + "</b><br />Total Cost</td><td><b>" + obj.totaldistance + "</b><br />Total Distance</td></tr></table></center><br /><a href='/'>try again!</a>"
  }
  document.getElementById("details").innerHTML = detailstext;
</script>

</html>
